/* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    background-color: burlywood;
    padding: 10px 0;
}

.navbar-brand {
    color: #fff;
    left: 10px;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #f8f9fa;
}

/* Card Styles */
.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.custom-select {
    width: 100%;
}

/* Quantity Input Styles */
.input-group-text {
    min-width: 90px;
}

/* Button Styles */
.btn-primary {
    background-color: #ecc07f;
    border-color: #eab70f;
    color: black;
}

.btn-primary:hover {
    background-color: #ecc07f;
    border-color: #eab70f;
}
/* CSS */
.btn-group {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 5px; /* ขยับปุ่มเล็กน้อยเพื่อให้มีระยะห่าง */
}
